<div class="content">
    <div class="card c3">
        <p>Feel free to get in touch!</p>

        <h5>Address</h5>
        <p>Address Line 1:<br> Gaurav Sonawane <br> 1225, Hudco, Pimprala,<br> Jalgoan, Maharashtra<br>425001</p>
        <p>Address Line 2:<br> Gaurav Sonawane <br> V 302, Nandel City<br> Pune, Maharashtra<br>411052</p>

        <h6 class="mt-2">Mobile - (+91)-8806687703</h6>
        <h6>E-Mail -  <a href="mailto:sonawanegs95@gmail.com">sonawanegs95@gmail.com</a> </h6>

    </div>

    <div class="card mt-4">
        <h6 class="center">You can also visit me here, will be happy to see you.</h6>
        <div class="center">
            <a href="mailto:sonawanegs95@gmail.com" class="fa fa-envelope"></a>
            <a href="https://www.linkedin.com/in/gaurav-sonawane-884950144" class="fa fa-linkedin"></a>
            <a href="https://www.github.com/GauravSonawane95" class="fa fa-github"></a>
            <a href="https://www.instagram.com/bthefantastico" class="fa fa-instagram"></a>
            <a href="https://www.facebook.com/bthefantastico" class="fa fa-facebook"></a>
        </div>
    </div>
</div>