.content{
    width:90%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
}
iframe{
    margin-left: 3rem;
    
height:20rem;
width: 30rem;

border-radius: 25px;

}
h6{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: aliceblue;
}
@media (min-width:480px) and (max-width:768px){

    iframe{
        margin-left: 3rem;
        
    height:30rem;
    width: 20rem;
 
    border-radius: 25px;
  
    }
    .content{
        
        grid-template-columns: auto ;
    }
}