<div>
    <nav class="navbar">
        <ul class="flex">
            <li class="navbar-item"><a class="nav-link" routerLink="Dash">Home</a></li>
            <li class="navbar-item"><a class="nav-link" routerLink="Port">Portfolio</a></li>
            <li class="navbar-item"><a class="nav-link" routerLink="">Work</a></li>
            <li class="navbar-item"><a class="nav-link" routerLink="">Contact</a></li>
        </ul>
    </nav>
</div>
<div class="main">
    <router-outlet></router-outlet>
</div>