/* You can add global styles to this file, and also import other style files */
@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);
body{
    // background-color: black;
    background-image: url('./assets/pngbg.png');
    background-size: 30%;
    background-repeat: no-repeat;
    background-color: black;
}
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');